.header {
   display: flex;
   align-items: center;
   height: 70px;
   background-color: #2a2a2a;
   box-sizing: border-box;
   padding: 0 70px;
 }
 .header_nav_item {
   border: 2px solid #31c469;
   border-radius: 5px;
   padding: 10px;
   font-size: 18px;
   font-weight: bold;
   display: flex;
   justify-content: space-around;
   width: 100%;
 }
 .header_nav_item span {
   color: #31c469;
 }
 .link {
   text-decoration: none;
   color: #fff;
 }
 .link:hover {
   color: #31c469;
 }